@import 'variables.scss';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

body {
  min-height: 100vh;
  background: linear-gradient(45deg, $color_1, $color_2);
  background-attachment: fixed;
}

tr {
  vertical-align: middle;
  background-color: $color_3;
  color: $color_4;

  &:nth-child(odd) {
    background-color: $color_5;
  }
}

td, th {
  padding: 0.8em 1.7em;
  text-align: left;
}

@mixin fontstyle {
  font-weight: 400;
  font-size: 1.2em;
}

@mixin fieldstyle {
  display: block;
  padding: 0.8em 1.7em;
  border-radius: 1em;
  border: none;
}

th {
  background-color: $color_6;
  color: #fff;

  @include fontstyle;
}

img {
  border-radius: 3px;
}

.wrapper {
  display: none;
  width: 1200px;
  margin: 0 auto;
  padding: 2em;
}

.user-table {
  width: 100%;
  border-collapse: collapse;
  border-radius: 1em;
  overflow: hidden;
}

.filter {
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;

  &__search {
    width: 70%;
    background: $color_7;
    color: $color_8;

    @include fontstyle;
    @include fieldstyle;

    &::placeholder {
      color: $color_6;
    }
  }

  &__reset {
    width: 29%;
    background: $color_9;
    cursor: pointer;

    @include fontstyle;
    @include fieldstyle;
  }
}

.loading-indicator {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;

  & img {
    width: 300px;
  }
}

.error-message {
  padding: 30px;
  background: transparent;
  text-align: center;

  @include fontstyle;
}

.tooltip {
  position: absolute;
  visibility: hidden;
  border-radius: 5px;
}
